/* Tablet screens */
@media (max-width: 900px) {
    header {
        padding: 40px 20px;
    }

    h1 {
        font-size: 30px;
    }

    #project-list {
        max-width: 90%;
    }
}

/* Mobile phones */
@media (max-width: 600px) {
    header h1 {
        font-size: 26px;
    }

    header p {
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }

    #project-list li {
        padding: 12px 15px;
        font-size: 16px;
    }
}
