/* Tablet screens */
@media (max-width: 900px) {
    header {
        padding: 40px 20px;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    #project-list {
        max-width: 90%;
    }
}

/* Mobile phones */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.625rem;
    }

    header p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    #project-list li {
        padding: 12px 15px;
        font-size: 1rem;
    }
}
