@media (max-width: 767px) {
    header {
        padding: 40px 20px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
    
    #project-list {
        max-width: 90%;
    }
}
