@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* Base */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --box-color-1: #f76c6c;
  --box-color-2: #a8d0e6;
}

[data-theme="dark"] {
  --bg-color: #222222;
  --text-color: #ffffff;
  --box-color-1: #f76c6c;
  --box-color-2: #a8d0e6;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: 600;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Class CSS */
.section {
  padding: 3rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  position: relative;
  font-size: 1.5rem;
  padding: 2rem 0 0 0;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #24305e;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 0.15rem;
  bottom: -0.25rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #24305e;
}

.section-subtitle {
  display: block;
  font-size: 0.75rem;
  color: #2a3749;
  margin: 1.8rem 3rem;
}

/* Layout */
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #24305e;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: var(--bg-color);
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(165, 146, 146, 0.1);
    border-radius: 0 0 1rem 1rem;
  }
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__link {
  color: var(--text-color);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--text-color);
  text-decoration-line: underline;
}

.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 900;
}

.nav__logo:hover,
.nav__toggle:hover {
  color: var(--text-color);
  transition: 0.3s ease;
}

.show-menu {
  top: 3rem;
}

.active-link {
  position: relative;
}

.active-link:after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 70%;
  height: 3px;
  background-color: var(--bg-color);
}

/* Change background header */
.scroll-header {
  background-color: var(--bg-color);
  box-shadow: 0 2px 5px rgba(24, 22, 22, 0.301);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
  color: #2a3749;
}

.scroll-header .nav__link:hover {
  color: #a2acbd;
}

.scroll-header .nav__menu {
  background-color: #f1c40f;
}

.home {
  background-color: var(--bg-color);
  margin-bottom: 4rem;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
}

.home__data {
  color: var(--text-color);
  padding: 1rem 0.35rem;
  z-index: 10;
}

.home__greeting {
  display: block;
  font-weight: 700;
  color: var(--text-color);
}

.home__title {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--text-color);
  line-height: 2rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.home__career {
  display: block;
  color: var(--text-color);
  line-height: 0.1rem;
  margin-bottom: 2rem;
}

.home__description {
  color: var(--text-color);
}

.home button {
  margin-top: 1.5rem;
}

.home-btn {
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 0;
  margin: 0.1rem;
}

.home__download {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.5rem 0.65rem;
  border: 1px var(--box-color-1) solid;
  border-radius: 10px;
  cursor: pointer;
}

.home__download:hover {
  background-color: var(--box-color-1);
  color: var(--text-color);
  transition: 0.3s ease-in;
}

.home__download:focus {
  outline: 0;
}

.home__social {
  display: flex;
  flex-direction: column;
  width: max-content;
  font-size: 1.3rem;
  margin-top: 6rem;
}

.home__icon {
  cursor: pointer;
  margin: 0.5rem;
  color: #f9f9f9;
}

.home__icon:hover {
  color: #e4a109;
  transition: 0.3s;
}

.home__icon:focus {
  outline: 0;
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home__img img {
  width: 35vw;
  height: 35vw;
  max-width: 380px;
  max-height: 380px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 90% center;
}


.contact {
  background-color: var(--bg-color);
  padding-bottom: 4rem;
}

.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.contact__input,
.contact__button {
  outline: none;
  font-family: #a2acbd;
  font-size: 0.938rem;
}

.contact__input {
  width: 100%;
  padding: 1rem;
  border: 2px solid #2a3749;
  color: #2a3749;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  resize: none;
}

.contact::placeholder {
  color: #a2acbd;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.contact__button {
  cursor: pointer;
  border: none;
}

.modal__container.show {
  pointer-events: auto;
  opacity: 1;
}

.services {
  background-color: #f9f9f9;
  padding-bottom: 4rem;
}

.services__section {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #2a3749;
  letter-spacing: 0.25rem;
}

.services__container {
  display: grid;
  row-gap: 1.5rem;
}

.services__data {
  display: grid;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 2px 5px rgba(199, 195, 195, 0.3);
  background: #2a3749;
}

.services__data:nth-of-type(4) img {
  height: 230px;
}

.services__img {
  width: 230px;
  margin-bottom: 3rem;
  justify-self: center;
}

.services__title {
  color: #e4a109;
  margin-bottom: 0.5rem;
}

.services__description {
  color: #f9f9f9;
}

.portfolio {
  background-color: var(--bg-color);
  padding-bottom: 4rem;
}

.portfolio__section {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.25rem;
}

.portfolio__container {
  display: flex;
  row-gap: 1.5rem;
}

.portfolio__data {
  display: grid;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 2px 5px rgba(199, 195, 195, 0.3);
  background: var(--bg-color);
}

.portfolio__img {
  width: 300px;
  height: auto;
  margin-bottom: 1.5rem;
  justify-self: center;
}

.portfolio__img img {
  border-radius: 8px;
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.076),
    0 2.3px 5.3px rgba(0, 0, 0, 0.109), 0 4.4px 10px rgba(0, 0, 0, 0.135),
    0 7.8px 17.9px rgba(0, 0, 0, 0.161), 0 14.6px 33.4px rgba(0, 0, 0, 0.194),
    0 35px 80px rgba(0, 0, 0, 0.27);
}

.portfolio__title {
  color: #e4a109;
  margin-bottom: 1rem;
}

.portfolio__description {
  color: #f9f9f9;
  margin-bottom: 1.5rem;
}

.portfolio__link {
  margin-bottom: 3rem;
}

.portfolio__link span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  background-color: var(--bg-color);
  color: #e4a109;
  padding: 0.5rem 1rem;
  border: 1px #e4a109 solid;
  cursor: pointer;
  border-radius: 8px;
}

.portfolio__link span:hover {
  background-color: var(--bg-color);
  color: #2a3749;
  transition: 0.3s;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #a2acbd;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e4a109;
}

.footer {
  background-color: #2a3749;
}

.footer__container {
  display: grid;
  text-align: center;
}

.footer__copy {
  text-align: center;
  font-weight: 100;
  color: #e4a109;
}

.footer__copy-link {
  color: #e4a109;
  text-decoration: underline;
}

.footer__box {
  display: flex;
  flex-direction: column;
}

.footer__box p {
  padding-bottom: 0.3rem;
  color: #f9f9f9;
}

.footer__box a {
  color: #a2acbd;
}

@media (min-width: 506px) {
  .home__img img {
    width: 300px;
    height: 400px;
  }
  .home__container,
  .services__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .services__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 2rem;
  }
  .section-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  .section-subtitle {
    font-size: 1rem;
  }
  .nav {
    height: calc(--header-height + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    height: 100vh;
    grid-template-rows: max-content 0.5fr;
    grid-template-columns: repeat(2, 1fr);
    align-content: flex-end;
  }
  .home__greeting {
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
  }
  .home__title {
    font-size: 2.1rem;
  }
  .home__career {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  .home__description {
    font-size: 1rem;
  }
  .home__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;
  }
  .home__social a {
    margin-right: 1.5rem;
  }
  .home__img {
    width: max-content;
    top: 100px;
  }
  .home__img img {
    width: 380px;
    height: 700px;
  }
  .services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio__title {
    font-size: 1.5rem;
  }
  .portfolio__img {
    width: max-content;
  }
  .portfolio__img img {
    width: 550px;
  }
  .portfolio__description {
    margin: 2rem 5rem;
  }
  .portfolio__link span {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__data {
    padding-top: 2rem;
  }
  .home__img {
    height: 670px;
  }
}

#theme-toggle {
  font-size: 1.2rem;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-color);
}


body.dark {background-color: var(--bg-color);} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
