/* BlogLayout.css */

.blog-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: row;
}

.Posts {
    flex: 1;
    padding: 1rem;
    border: 2px solid var(--button-color);
    background-color: var(--bg-color);
}

@media (max-width: 768px) {
  .blog-container {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  }
}
