/* BlogSidebar.css */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.2s, border-color 0.2s;
  line-height: 1rem;
  margin: 0.25rem 0;
}

ul li a:hover {
  color: var(--accent-color-1, #f76c6c);
}

ul li a.active {
  color: var(--accent-color-1, #f76c6c);
  border-left: 2px solid var(--accent-color-1, #f76c6c);
  padding-left: 0.25rem;
}