
.footer {
  background-color: var(--header-bar-color);
  height: var(--header-height);
  display: flex ;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footer__container {
  display: flex ;
  align-items: center ;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.footer__copy {
  text-align: center;
  font-weight: 100;
  color: var(--text-color);
  margin: 0 ; /* remove extra margin */
  line-height: 1.2; /* tighter line spacing */
  display: flex;
  align-items: center;
}

.footer__copy h3 {
  font-size: clamp(0.75rem, 2.0vw, 1rem);
}

.footer__box {
  display: flex;
  flex-direction: column;
}
